/* marcellus font */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* :root{
    --btnBefore:#5D3587;
    --btnAfter:#392467;
    --panel-icons:#A367B1;
    --panel-gradient:#FFD1E3;
    --bg-overlay:hsl(181, 54%, 38%,0.915);
    --bg-overlay2: hsl(170deg 52% 27% / 92%);
    --logo-color:#1a4965;
} */
:root{
    --btnBefore:#2D9596;
    --btnAfter:#265073;
    --panel-icons:#9AD0C2;
    --panel-gradient:#2D9596;
    --bg-overlay:hsl(181, 54%, 38%,0.915);
    --bg-overlay2: hsl(170deg 52% 27% / 92%);
    --logo-color:#1a4965;
    --card-color:#638889;
    --div-bg:#FBF7F3;
}
/* :root{
    --e-global-color-primary: #232323;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #156C5F;
    --e-global-color-9d80255: #156C5F;
    --e-global-color-67ce4ad: #EE8961;
    --e-global-color-0e6226b: #FFFFFF;
    --e-global-color-4715698: #21685C;
    --e-global-color-de9b45c: #232323;
    --e-global-color-88c8a7c: #FFFFFF00;
    --e-global-color-30c9f5e: #21685C47;
    --e-global-color-3909785: #FBF7F3;
    --e-global-color-4cd68a4: #FFFFFF3D;
    --e-global-color-3c93db1: #FFFFFF21;
    --e-global-color-f7eda5d: #FFFFFF12;
    --e-global-color-90d0974: #fec42d;
    --e-global-color-4dd
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,input {
    font-family: "Poppins", sans-serif;
}

.container{
    background-image: url(../images/nurse-booking-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: top center;
    height: 67vh;
    width: 100%;
    overflow:hidden;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: relative;
}

/* start header */
.container .header{
    /* position: fixed; */
    width:100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}
.header .mid-header{
    width:80%;
    background-color: transparent;
    display:grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 30% 58%;
}
.logo{
    text-align: center;
    font-size: 40px;
    display: grid;
    grid-template-columns: 10% 46%;
}
.logo h2{
    font-weight: 950;
    line-height: 1;
    font-size: 40px;
    color:white;
    letter-spacing: -1px;
}
.logo h2 span,.logo i{
    color:var(--logo-color);
}
.mid-header .nav-bar{
    height: 100%;
}
.mid-header .nav-bar .main-list{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(8,1fr);
    list-style-type: none;
}
.mid-header .nav-bar .main-list .main-list-li ,.main-list-el{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px; 
    height: 100%;
}
.mid-header .nav-bar .main-list .main-list-li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 5px;
    margin-right: 5px; 
    height: 100%;
}
.main-list a::after{
    content:"";
    height:2px;
    background-color: white;
    position: absolute;
    left:0;
    bottom: -10px;
    z-index: 1;
    width: 0;
    transition:0.3s;
}
.mid-header .nav-bar .main-list li:hover a:after{
    width: 100%;
}
.mid-header .nav-bar .main-list .main-list-li a:last-child:after{
    display: none;
}
a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    position: relative;
}
.mid-header .nav-bar ul li .inner-list{
    background-color: white;
    list-style-type: none;
    min-width: 200px;
    position:absolute;
    top: 90%; 
    left:0;
    z-index: 1;
    display: none;
    border-radius: 8px;

}
.mid-header .nav-bar ul li .inner-list li a{
    display: block;
    padding:15px;
    color:var(--btnAfter)
}
.main-list-li a+i{
    color:white;
}

.mid-header .nav-bar ul li .inner-list li{
    transition: 0.3s;
}
.mid-header .nav-bar ul li .inner-list li:not(:last-child){
    border-bottom:1px solid var(--btnAfter);
}
.mid-header .nav-bar ul .main-list-li:hover .inner-list{
    display: block;
}
.mid-header .nav-bar ul li .inner-list li:hover{
    padding-left:20px;
}
.mid-header .nav-bar .main-list .main-list-el i{
    font-size: 19px;
}
.mid-header .nav-bar .main-list li a span{
    margin-right: 5px;
}
/* end header */


/* start Contact us */
.container .nurse-book{
    width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.nurse-book h1{
    font-size:66px;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 20px 0;
}
.nurse-book p{
    text-align: center;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 20px;
}
.nurse-book .home-div{
    width:15%;
    height: 50px;
    border-radius: 9px;
    border:1px solid #8a8e94;
    font-size: 21px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.nurse-book .home-div span{
    margin: 0 5px 0 5px;
    font-size: 30px;
}
.nurse-book .home-div a:hover{
    color:var(--logo-color);
}

/*end Contact us*/
/*start footer*/
.footer{
    width: 100%;
    height: 50vh;
    background-color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-footer{
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: 25% 18% 25% 20%;
    column-gap: 35px;
}
.footer-logo{
    display: grid;
    grid-template-rows: 24% 35% 15%;
}
.footer-logo .logo{
    text-align: center;
    display: flex;
    width: 80%;
}
.footer-logo h2{
    font-weight: 200;
    line-height: 1;
    font-size: 39px;
    color: white;
    letter-spacing: -1px;
    margin-left: 10px;
}
.footer-logo i{
    font-size: 40px;
}
.footer-logo h2 span,.footer-logo i{
    color:var(--logo-color);
}
.social-media{
    display: flex;
}
.footer-logo .about-us{
    color:white;
}
.social-media a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border:1px solid var(--logo-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media a:not(:first-child){
    margin-left:10px;
}
.social-media a{
    transition: 0.4s;
}
.social-media a:hover {
    transform: translateY(-14px);
    background-color: white;
    border-color:white;
}
.social-media a:hover i{
    color:var(--card-color);
}
.social-media i{
    font-size: 20px;
}

.footer-links .footer-sort{
    display: grid;
    grid-template-columns:repeat(2,1fr)
}

.footer-links h3{
    font-size: 28px;
    margin-bottom: 30px;
    color: white;
    font-weight: 200;
}
.footer-links .div-link{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
    transition: 0.4s;
}
.left-footer-links .book-link .div-link:hover,
.right-footer-links .section-link .div-link:hover{
    margin-left: 40px;
}

.div-link:hover{
    margin-left: 20px;
}
.div-link:hover a{
    color:var(--logo-color)
}
.left-footer-links .book-link h4 ,.right-footer-links .section-link h4{
    color:var(--logo-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;

}
.footer-links .div-link a{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.footer-links .book-link .div-link,.section-link .div-link{
    margin-left:20px;
}




.footer-contact h3{
    font-size: 28px;
    margin-bottom: 30px;
    color: white;
    font-weight: 200;
}
.footer-contact .div-contact{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 18px;
    transition: 0.4s;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    align-items: center;
}
.footer-contact .div-contact div{
    margin-left: 5px;
}
/*end footer/





/*start main doctor booking*/
.nurse-book-main{
    height:fit-content;
    width: 100%;
    background-color: var(--div-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid-nurse-book-main{
    width: 80%;
    height: fit-content;
    /* height: 735px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    margin-top: 50px;
}
.nurse-book-main h1{
    font-size: 60px;
    font-family: "marcellus";
    font-weight: 400;
    color: var(--logo-color);
}
.lower-side-profiles{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 150px;
}
.nurse-profile{
    height: 280px;
    /* background-color: white; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--logo-color);
    transition: 0.5s;
}
.nurse-profile:hover{
    transform: scale(1.090);
    box-shadow: 0 14px 32px 4px rgb(0,0,0,0.2);
}
.nurse-profile .inner-nurse-profile{
    width: 200px;
    height: 200px;
    mask-image: url(../images/mask.png);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 100%;

}
.nurse-profile .img-nurse-profile{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1.1s;

    
}
.nurse-profile .nurse1{
    background-image: url(../images/nurses/nurse1.jpg); 
}
.nurse-profile .nurse2{
    background-image: url(../images/nurses/nurse2.jpg); 
}
.nurse-profile .nurse3{
    background-image: url(../images/nurses/nurse3.jpg); 
    /* background-position: right center; */
}
.nurse-profile .nurse4{
    background-image: url(../images/nurses/nurse4.jpg); 
}
.nurse-profile .nurse5{
    background-image: url(../images/nurses/nurse5.jpg);
    background-position: right center;
}
.nurse-profile .nurse6{
    background-image: url(../images/nurses/nurse6.jpg); 

}
.nurse-profile .nurse7{
    background-image: url(../images/nurses/nurse7.jpg); 
    background-position: left center;
}
.nurse-profile .nurse8{
    background-image: url(../images/nurses/nurse8.jpg); 
}

.nurse-profile .img-nurse-profile:hover{
    transform: scale(1.1);
}

.nurse-profile h2{
    font-weight: 500;
    color: var(--logo-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.nurse-profile a{
    transition: all 0.5s;
}
.nurse-profile a:hover{
    transform: translateY(5px);
}
.doctor-profile a:hover h2{
    color: var(--card-color);
}
.input-div .info-div,.full-name ,button{
    height: 60px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.info-side .input-div .info-div{
    width:100%;
    display: grid;
    grid-template-columns: 87% 13%;
    border-radius: 8px;
    background-color: white;
    align-content: center;
    color: #7a7a7a;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 45px 4px;
}
.info-side .input-div .info-div i{
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
}
.info-side .input-div .full-name,.email-phone{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
}

.info-side .first-sen{
    color: var(--card-color);
}

.info-side .second-sen{
    font-size: 55px;
    font-weight: 400;
    color:var(--logo-color);
    margin-bottom:30px;
    font-family: "marcellus";
}
.info-side .third-sen{
    color:#757575;
}
.info-side .info-div input{
    border: none;
    padding-left: 25px;
    border-radius: 8px;
    background-color: transparent;
}
.info-side textarea{
    resize:none;
    border-radius:8px ;
    outline: none;
    border:none;
    padding: 15px 10px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 45px 4px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
}
.info-side textarea:focus{
    border:1px solid var(--logo-color);
}

input[type="date"]{
    width: 100%;
    color: #757575;   
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(20%);
    color: #757575;
}

input[type="date"]::-webkit-calendar-picker-popup {
    width: 250px; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    border-radius: 4px;
}
#date-div,#time-div{
    display: flex;
    padding-right: 18px;
}

input[type="time"]{
    width: 100%;
    color: #757575;   
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(20%);
    color: #757575;
}

input[type="time"]::-webkit-calendar-picker-popup {
    width: 250px; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    border-radius: 4px;
}
.doctor-specialty{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
}
.doctor-specialty select{
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 25px;
    width: 100%;
}
.info-side .info-div input:focus{
    outline: none;
}
.info-side .info-div:focus-within{
    border:1px solid var(--logo-color);
}
.info-side .input-div button{
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--logo-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    padding: 10px;
}
.info-side .input-div button:hover{
    background-color: var(--card-color);
    transform: translateY(5px);
}

/*start drop list style*/
::selection{
    color: #fff;
    background: #4285f4;
}
.wrapper{
    margin-bottom: 10px;
}
.select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select-btn{
    color: #757575;
    height: 65px;
    padding: 0 20px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
}
.select-btn i{
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 7px;
}
.wrapper.active .content{
    display: block;
}
.content .search{
    position: relative;
}
.search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}
.search input{
    height: 42px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
    color: #757575;
}
.search input:focus{
    padding-left: 42px;
    border: 2px solid var(--logo-color);
}
.search input::placeholder{
    color: #bfbfbf;
}
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}
.options li{
    height: 50px;
    padding: 0 13px;
    color: #757575;
}
.options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
}
/*end drop list style*/

.img-side{
    display: flex;
}

/* to remove the background in auto fill mode*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
}
/*end main contact us*/
