<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- <link rel="shortcut icon" type="x-icon" href="/images/tab-icon.png">
    <link href="/css/profile.css" rel="stylesheet"/>
    <link href="/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/> -->

    {%load static%}
    <link rel="shortcut icon" type="x-icon" href="{%static '/images/tab-icon.png'%}">
    <link href="{%static '/css/profile.css'%}" rel="stylesheet"/>
    <link href="{%static '/css/all.min.css'%}" rel="stylesheet"/>
    <link href="{%static '/css/normalize.css'%}" rel="stylesheet"/>
</head>
<body>
    
    <div class="container">
            <div class="header">
                <div class="mid-header">
                        <div class="logo">
                            <i class="fa-solid fa-capsules"></i>
                            <h2>Med <span>KA</span>re</h2>
                        </div>
                        <div class="nav-bar">
                            <ul class="main-list">
                                <li class="main-list-el"><a href="{%url 'index2' user.user_id%}">Home</a></li>
                                <li class="main-list-el"><a href="{%url 'aboutus' user.user_id%}">About us</a></li>
                                <li class="main-list-li">
                                    <a href=""><span>Booking</span>
                                        <i class="fa-solid fa-angle-down">
                                        </i>
                                    </a>
                                    <ul class="inner-list" >
                                        <li><a href="{%url 'doctorbooking' user.user_id%}">Doctor</a></li>
                                        <li><a href="{%url 'nursebooking' user.user_id%}">Home Stead</a></li>
                                        <li><a href="{%url 'sanatoriumbooking' user.user_id%}">Sanatorium</a></li>
                                    </ul>
                                </li>
                                <li class="main-list-el"><a href="{%url 'index2' user.user_id%}#news-blogs">News &amp Blogs</a></li>
                                <li class="main-list-li">
                                    <a href=""><span>Section</span>
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                    <ul class="inner-list">
                                        <li><a href="{%url 'books' user.user_id%}">Books</a></li>
                                        <li><a href="{%url 'videos' user.user_id%}">Videos</a></li>
                                    </ul>
                                </li>
                                <li class="main-list-el"><a href="{%url 'treatment' user.user_id%}">Treatment</a></li>
                                <li class="main-list-el"><a href="{%url 'contactus' user.user_id%}">Contact Us</a></li>
                                <li class="main-list-el"><a href="{%url 'profile' user.user_id%}">
                                    <span>Profile </span>
                                    <i class="fa-solid fa-user"></i>
                                </a></li>
                            </ul>
                        </div>
                </div>            
            </div>
            <div class="profile">
                <h1>Profile</h1>
                <p>We're a passionate team dedicated to making quality healthcare accessible and transparent.<br>
                    Your health journey starts here...
                </p>
                <div class="home-div">
                    <a href="{%url 'index2' user.user_id%}">Home</a>
                    <span> - </span>
                    <a href="{%url 'profile' user.user_id%}">Profile</a>
                </div>
            </div>
    </div>


    <div class="profile-main">
        <div class="mid-profile">
            <div class="info-side">
                
                    <div class="inner-info-side">
                        <div class="right-profile-side">    
                            <div class="heading-div">
                                <div class="first-sen">About You</div>
                                <div class="second-sen">Account Info</div>
                            </div>
                            <div class="input-div">
                                <div class="info-div">
                                    <input type="text" id="full-name" placeholder="Your Name:" name="full name" value="{{user.user_fname}} {{user.user_lname}}" readonly>
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="info-div">
                                    <input type="text" id="phone" placeholder="phone:" name="phone" value="{{user.user_phone}}" readonly>
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="info-div">
                                    <input type="email" id="email" placeholder="Email address:" name="email" value="{{user.user_gmail}}" readonly>
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <div class="info-div">
                                    <input type="text" id="gender" placeholder="Gender:" name="gender" value="{{user.user_gender}}" readonly>
                                    <i class="fa-solid fa-person-half-dress"></i>
                                </div>
                                <div class="info-div">
                                    <input type="text" id="birthDate" placeholder="Birth Date:" name="birth date" value="{{user.user_birthdate}}" readonly>
                                    <i class="fa-solid fa-calendar-days"></i>
                                </div>
                                <button>Save</button>
                            </div>
                        </div>
                        <div class="img-div">
                            <img src="{%static '/images/personal-profile2.svg'%}" class="image" alt="error">
                        </div>
                    </div> 
                    <div class="table-side">
                        <div class="first-table">
                            <h1>Booked</h1>
                            <table class="appointment-table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in appointments %}
                                        <tr>
                                            <td>doctor</td>
                                            <td>{{appointment.doctor.doctor_fname}} {{appointment.doctor.doctor_lname}}</td>
                                            <td>{{ appointment.illness_description }}</td>
                                            <td>{{ appointment.appointment_date }}</td>
                                            <td>{{ appointment.appointment_time }}</td>
                                            <td>{{ appointment.appointment_status }}</td>
                                            <td>{{ appointment.doctor.doctor_city }} {{ appointment.doctor.doctor_street }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="second-table">
                            <h1>Messages</h1>
                            <table class="message-table">
                                <thead>
                                    <tr>
                                        <th>Message</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for message in messages %}
                                        <tr>
                                            <td>{{ message.message_description }}</td>
                                            <td>{{ message.message_date }}</td>
                                            <td>{{ message.message_time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="logout-btn" >
                        <form action="{%url 'login'%}" method="get">
                            <button type="submit">Log out</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>


    
    



    <div class="footer">
        <div class="mid-footer">
            <div class="footer-logo">
                <div class="logo">
                    <i class="fa-solid fa-capsules"></i>
                    <h2>Med <span>KA</span>re</h2>
                </div>
                <div class="about-us">
                    Welcome to our health care platform, where we provide comprehensive resources and support to guide you on your path to optimal health and wellness.
                </div>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="footer-summary">
                
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <div class="footer-sort">
                    <div class="left-footer-links">
                        <div class="div-link">
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="{%url 'index2' user.user_id%}">Home</a>
                        </div>
                        <div class="div-link">
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="{%url 'aboutus' user.user_id%}">About Us</a>
                        </div>
                        <div class="book-link">
                            <h4>Booking</h4>
                            <div class="div-link">
                                <i class="fa-solid fa-angle-right"></i>
                                <a href="{%url 'doctorbooking' user.user_id%}">Doctor</a>
                            </div>
                            <div class="div-link">
                                <i class="fa-solid fa-angle-right"></i>
                                <a href="{%url 'nursebooking' user.user_id%}">Nurse</a>
                            </div>
                            <div class="div-link">
                                <i class="fa-solid fa-angle-right"></i>
                                <a href="{%url 'sanatoriumbooking' user.user_id%}">Sanatorium</a>
                            </div>
                        </div>
                    </div>
                    <div class="right-footer-links">
                        <div class="div-link">
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="{%url 'treatment' user.user_id%}">Treatment</a>
                        </div>
                        <div class="div-link">
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="{%url 'index2' user.user_id%}#news-blogs">News & Blogs</a>
                        </div>
                        <div class="div-link">
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="{%url 'contactus' user.user_id%}">Contact Us</a>
                        </div>
                        <div class="div-link">
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="{%url 'profile' user.user_id%}">Profile</a>
                        </div>
                        <div class="section-link">
                            <h4>Section</h4>
                            <div class="div-link">
                                <i class="fa-solid fa-angle-right"></i>
                                <a href="{%url 'books' user.user_id%}">Books</a>
                            </div>
                            <div class="div-link">
                                <i class="fa-solid fa-angle-right"></i>
                                <a href="{%url 'videos' user.user_id%}">Videos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-contact">
                <h3>Contact Info</h3>
                <div class="div-contact">
                    <i class="fa-solid fa-phone"></i>
                    <div>+613 8376 6284</div>
                </div>
                <div class="div-contact">
                    <i class="fa-solid fa-envelope"></i>
                    <div>Info@medunit.com</div>
                </div>
                <div class="div-contact">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>21 King Street Melbourne,  3000, Canada</div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- <script src="/js/script.js"></script> -->
</body>
</html>